@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
}

html,
body,
:root {
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track
::-webkit-scrollbar-track {
  background: #404040;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #262626;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rc-slider-handle {
  opacity: 0 !important;
}

.rc-slider:hover .rc-slider-handle {
  opacity: 1 !important;
}

.rc-slider:hover .rc-slider-track {
  background-color: #22c55e !important;
}

.rc-slider-handle {
  box-shadow: none !important;
}
