@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track
::-webkit-scrollbar-track {
  background: #404040;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #262626;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
